* {
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;    
    margin: 20px;
    padding: 10px;
    color: rgb(66, 17, 32);
}

body {
    
    background-color: rgb(216, 189, 194);
}

h1 {
    font-size: 80px;
}


#title {
}

#secret{
    visibility: hidden;
}

button {
    padding: 30px;
    background-color: rgb(233, 138, 121);
    border-radius: 40px;
    border-width: 0px;
}

iframe {
    border: 10px solid rgb(66, 17, 32);
    color: rgb(66, 17, 32);
    border-radius: 20px;
    background-color: rgb(66, 17, 32);
}

#step1 {
    top: 19000px;
}

#step2 {
    top: 18150px;
}

#step3 {
    top: 17150px;
}

#step4 {
    top: 16050px;
}

#step5 {
    top: 14800px;
}

#step6 {
    top: 13600px;
}

#step7 {
    top: 12000px;
}

#step8 {
    top: 10600px;
}

#step9 {
    top: 9300px;
}

#step10 {
    top: 8300px;
}

#step11 {
    top: 7100px;
}

#step12 {
    top: 6150px;
}

#step13 {
    top: 5000px;
}

#step14 {
    top: 4100px;
}

#step15 {
    top: 2800px;
}

#end2 {
    top: 6650px;
}

.step {
    visibility: hidden;
    position: absolute;
    border-width: 0px 20px;
    border-color: rgb(233, 121, 143);
    border-style: solid;
    border-radius: 100px;
    padding: 30px;
    width: 400px;
}

.step.gi {
    border-color: #FDC518;
}

.step.gi2 {
    border-color: rgb(207, 141, 34);
}

.step.instr {
    border-color: gray;
}

.gi button {
    background-color: rgb(207, 141, 34);
}

.gi2 button {
    background-color: #FDC518;
}

.instr button {
    background-color: gray;
}

input {
    width: 300px;
}

#giraffe {
    position: absolute;
    top: 2000px;
    z-index: 0;
}

#gras {
    position: absolute;
    top: 19750px;
    z-index: 0;
    width: 1100px;
    left: -100px;
}

#reset {
    position: absolute;
    top: 20500px;
    background-color: gray;
    width: 700px;
}

.small {
    font-size: 75%;
}

.big {
    font-size: 275%;
}


#help1 {
    position: absolute;
    visibility: hidden;
    top: 19500px;
    left: 185px;
    color: gray;
}

#help2 {
    position: absolute;
    top: 18830px;
    color: gray;
    left: 240px;
    visibility: hidden;
}